doctype html
html
    head
        title WeTube
        body
            header
                h1 WeTube
            include ../partials/header
            main
                block content
            footer
                span &copy; WeTube
            include ../partials/footer

                    