.header {
    background-color: $dark-red;
    margin-bottom: 50px;

    .header__wrapper {
        width: 100%;
        padding: 5px 0px;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .header__column {
          i {
              color: white;
              font-size: 30px;
          }
          &:nth-child(2) {
              width: 100%;
              justify-self: center;
          }
          &:last-child {
              justify-self: end;
            }
            ul {
                display: flex;
                color: white;
                font-weight: 600;
                text-transform: uppercase;

                li {
                    a {
                        color: white;
                    }
                    &:not(:last-child){
                        margin-right: 15px;
                    }
                }
            }
            
            form {
                width: 100%;
                
                input {
                    padding: 7px 10px;
                    width: 100%;
                    border-radius: 5px;
                    font-size: 14px;
                    color: chartreuse;
                    font-weight: 600;
                    max-width: none;
                    &::placeholder {
                        font-weight: 300;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }
    }
}