extends layouts/main

block content
    .form--container
        h3 Change Password
        form(action=routes.changePassword, method="post")
            input(type="password", placehloder="Current Password", name="oldPassword")
            input(type="password", placehloder="New Password", name="newPassword")
            input(type="password", placehloder="Varify Password", name="newPassword2")
            input(type="submit", value="Change Password Confirm")